body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
header{
    height: 75px;
    background-color:white;
    position:fixed;
    z-index: 10;
    margin:0px;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.head-logo img{
    width: 120px;
    height:120px;
    margin-top: -25px;
}

.logo-profile{
    float:right;
    margin-top: 16px;
    margin-right: 20px;
}

.userimg{
    display: flex; 
    align-items: center;
}

.userimg a{
    text-decoration: none;
    color: #0ec4e1;
    margin-left: 6px;
    margin-top: 10px;
    
}
.userimg img{
    float:right;
    display: flex;
    width:40px;
    height: 40px; 
}

aside{
    height:100vh;
    width: 15%;
    float:left;
    position: fixed;
    margin-top: 60px;
    background: #0ec4e1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dashboard a{
    color: #fff;
    display:block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transform: .5s;
    transition-property: background;
}
.dashboard a:hover{
    background:white;
    color:#0ec4e1;
}
.toggle{
    float:right;
}
main{
    float: right;
    background: #ffffff; 
    height: 100vh;
     width: 100vw;
    }
    .dashhead{
        width:100%;
        height:50px;
        color: #fff;
        align-items: center;
        justify-content: center;
    }
    .dashhead h3{
        margin-top: 50px;
        margin-left: 40px;
    }
    .green{
        background: linear-gradient(rgb(87 143 82), rgb(77, 224, 72));
    }
    .yellow{
        background: linear-gradient(rgb(211 201 59), rgb(240, 255, 35));
    }
    .orange{
        background:  linear-gradient(#e74634, #ff5722);
    }
    .red{
        background: linear-gradient(rgb(221 45 45), rgb(245, 20, 20));
    }
    .content{
        display: flex;
        padding-left: 250px;
        padding-top: 175px;
    }
    .onebox{
        float: left;
        height: 175px;
        width: 250px;
        margin-right: 20px;
        border-radius: 10px;
    }
    .onebox a{
        text-decoration: none;
    }
    .new img{
        float:right;
        height:25px;
        width:25px;
        margin-top: 20px;
    }
    
    .count{
        color:white;
        font-size: 100px;
        margin:50px;
        text-shadow: 0 4px 8px 0 rgb(255, 255, 255);
        text-decoration: none;
    }
    .count-text{
        color:white;
        font-size: 30px;
        margin-left: 50px;
        text-shadow: 10px;
    }
.sub-item.show{
    display: block;
}
.req-content{
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 15px;
    right:0;
    background-color: white;
    }
    .signform{
        margin-left: 100px;
    }
    .signform h2{
        font-family: arial;
        margin-left: 250px;
        
        
    }
    .logform{
        top:50%;
    }
    .signform input{
        
        width: 500px;
        height: 40px;
    }
    .signform select{
        
        width: 500px;
        height: 40px;
    }
    .signform input:focus-visible{
        outline: none !important ;
        border-color:#0ec4e1 ;
         
        
    }
    .signform select:focus-visible{
        outline: none !important ;
        border-color:#0ec4e1 ;
         
        
    }
    .form-submit-button{
        background-color: #0ec4e1;
        color:white;
        width: 700px;
        height: 40px;
        border: 0px;
        border-radius: 8px;
        padding-top: 0px;
        cursor: pointer;
    }
    .logform h4{
        left:25%;
        color:#8b8b8b33;
    }
    .formbg{
        height: 600px;
        width:900px;
        background: linear-gradient(rgb(249, 252, 251), rgb(202, 221, 206));
        margin-left: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    .logform span{
        font-size: larger;
        font-style: bold;
        font-weight: 100;
        color: #0ec4e1;
    }

    
.dropbtn {
    background-color: #ffffff;
    color:#0ec4e1;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 12px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  
table ,tbody{
    border: 1px solid rgb(70, 69, 69);
    color: rgb(12, 12, 13);
    text-align: center;
    width: 50rem;
    margin-left: 360px;
    margin-top: 35px;

  }
  h2{
    color: #0ec4e1;
    margin-left: 710px;
    margin-top: 100px;
  }
  td{
    border: 1px solid rgb(70, 69, 69);
    color:rgb(12, 12, 13);
    text-align: center;
    padding: 8px;
    font-family: arial;
  }

  th{
    border:1px solid rgb(70, 69, 69);
    background: #0ec4e1;
    color:rgb(12, 12, 13);
    font-weight: 900;
    text-align: center;
    padding: 8px;
    font-family: arial;
  }
