body{
    background:white;
    margin: 0px;
    padding: 0px;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    z-index: 1;
    background: white;
}

.logo-img{
    margin: 0px;
    padding: 0px;
}
.logo-img img{
    height: 100px;
    float:left;
    margin-top: -12px;

}

.edit{
    position: absolute;
    display:flex ;
    margin-top: 20vh;
    margin-left: 15vh;
}


.form-edit{
    height: 105vh;
    width: 50vh;
    display: block;
    margin-left: 40vh;
    background-color: rgba(113 112 112 / 19%);
}

.form-edit label{
    margin-left: 8vh;
    font-size: 17px;
    font-weight: bold;
}
.form-edit input{
    height: 30px;
    width: 230px;
    margin-bottom: 14px;
    margin-left: 12vh;
    border-style: none;
    text-decoration: none;
    border-radius: 4px;
}

.form-edit input:focus-visible{
    outline: none;
}

.button-cls{
    margin-top: 10px;
    text-align: center;
}

.button-cls button{
    height: 30px;
    width: 150px;
    border-radius: 6px;
    border-style: none;
}

.form-div{
    margin-top: 30px;
}

.profile-card{
    display: block;
    background-color: rgb(218, 209, 209);
    height: 52vh;
    padding: 15px;
}

.profile-card p{
    font-size: 17px;
    font-weight: bold;
}
.change-btn{
    display: none;
    }
    
    .change{
        height: 20px;
        width: 150px;
        margin-top: 10px;
        float: right;
        background-color: rgba(113 112 112 / 1%);
        border-style: none;
        text-decoration: none;
        cursor:pointer;
    }