body{
    background-image: url('../images/bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.header{
  
  width: 100vw;
}
.heading{
    font-size: 40px;
    font-weight: 900;
    margin-top: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font-size: 18px;
    display:block;
    position:absolute;
    float: right;
    right: 10px;
    top: 50px;
  }
  
 li {
  float:right;
  display:block;
 }

  li a, .dropbtn {
  
    display:block;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 15px 18px;
    text-decoration:none;
    
  }
 
  li a:hover {
    background-color: rgb(8, 181, 250);
    color: azure;
    border-radius: 8px;
  }

  .imgclass img{
    height: 150px;
    float: left;    
  }
  
  .dropdown {
    display:none;
    position:relative;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
  }

.droplogin:hover .dropdown {
  display: block;
  border-radius: 8px;
}
  
 .cards{
  height: 500px;;
  width: 450px;
  display:block;
  z-index:1;
  position: absolute;
  float: left;
  margin-left: 200px;
  margin-top: 200px;
  border-radius: 8px;
 }

 .cards p{
   float: left;
   align-items: center;
   font-size: 18px;
  
 }

 .cards button{
  height: 30px;
  width: 200px;
  border-radius: 8px;
  border-style: none;
  display: inline-flex;
  font-size: 20px;
  cursor: pointer;
  background: none;
  color: black;

 }
a{
  text-decoration: none;
  color: black;
}
 .cards button:hover{
  color:rgb(8, 181, 250);
 }

 .loc-card{
  margin-top: 50px;
 }
 .cards img{
  height: 20px;
 }
 