body{
    background:white;
    margin: 0px;
    padding: 0px;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    z-index: 1;
    background: white;
}

.logo-img{
    margin: 0px;
    padding: 0px;
}
.logo-img img{
    height: 100px;
    float:left;
    margin-top: -12px;

}

.logo-profile{
    float: right;
    display: flex;
}

.profile-icon{
    display: flex;
    float: right;
    align-items: center;
}

.profile-icon img{
    height: 50px;
}
.profile-icon a {
    margin-top: 15px;
    text-decoration: none;
    color:#0ec4e1;;
}

aside{
    width: 30vh;
    height: 100vh;
    background: rgb(6, 208, 244);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float:left;
    position: fixed;
    margin-top:60px;
    font-family: Arial, Helvetica, sans-serif;
}

.dash{
    position: relative;
}

.dash a{
    color: #fff;
    display:block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transform: .5s;
    transition-property: background;
    cursor: pointer;
}

.dash a:hover{
    color:aqua;
    background-color: #fff;
}

.dash button{
    color: #fff;
    display:block;
    width: 100%;
    text-decoration: none;
    padding-left: 40px;
    border-style: none;
    transform: .5s;
    transition-property: background;
    cursor: pointer;
    background-color: rgb(6, 208, 244);
    text-align: left;
    font-size: 16px;
}

.dashhead{
    width:100%;
    height:50px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.dashhead h3{
    margin-top: 50px;
    margin-left: 40px;
}

main{
    display:block;
    position: fixed;
    margin: 0px;
    padding: 0px;
    margin-left: 350px;
    margin-top: 190px;

}

h2{
    font-size: 40px;
    color:aqua;
}

table , td ,th ,tbody{
    border: 1px solid black;
    color:rgb(12, 12, 13);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;

  }

