body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.s_img img{
    height: 84vh;
    width: 193vh;
}

.service_display{
    
}

.service_id{
  padding-left: 221px;  
  margin-top: 30px;
  position: relative;
  display:block;
}

.service_id a{
   
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    
}

.service_id a:hover{
    color:black;
}

.group{
    display: flex;
    padding-left: 30px;
    flex-wrap: wrap;
}
.s_card{
    padding-left:20px;
    height: 450px;
    width: 350px;
    margin-top: 40px;
    display:block;
    
}

.s_card img{
    width: 320px;
    height: 243px;
}

.s_card p{
    font-size: 20px;
    color: #00a8ffd1;
    font-weight: bold;
     text-align: center;
}
 .s_card p:hover{
    color:black;
 }

 .iconclass{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

 .iconclass img{
    height: 30px;
 }

 .iconclass p{
    margin-left: 13px;
 }

 .pricing-details{
    margin: 0px;
    padding: 0px;
   }

.price-heading{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.price-heading p{
    font-size:30px;
    font-weight: bold;
}

.underline{
    width: 280px;
    height: 1px;
    background-color: #dedede;
    margin: auto;
    clear: both;
    margin-top: 4px;
}

.prices-div{
padding-left: 210px;
position: relative;
display: flex;
}

.prices{
    width:30vh;
    height:30vh;
   margin-left: 50px;
}

.prices-digit p{
    font-size: 105px;
    margin:0px;
    padding: 0px;
    text-align: center;
    justify-items: center;
    color:gold
}

.prices-text p{
    color: rgb(15, 125, 228);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.prices-text p:hover{
    color: aqua;
}

.rights-text p{
    text-align: center;
    margin:0px; 
    padding:0px;
    color: white;
    justify-items: center;
}

