
body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
header{
    height: 75px;
    background-color:white;
    position:fixed;
    z-index: 1000;
    width: 100vw;
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    
    
}
header img{
    width: 120px;
    height:120px;
    margin-top: -25px;
}
.userimg{
    display: flex;
    float: right;
    margin-top: 15px;
    text-decoration: none;
    align-items: center;
}
.userimg a{
    text-decoration: none;
    color: #0ec4e1;
    margin-right: 10px;    
}
.userimg img{
    margin-top: 10px;
    float:right;
    display: flex;
    width:40px;
    height: 40px;
    
    
}
aside{
    height:100vh;
    width: 15%;
    float:left;
    position: fixed;
    margin-top: 60px;
    background: #0ec4e1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dashboard a{
    color: #fff;
    display:block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transform: .5s;
    transition-property: background,color;
}
.dashboard a:hover{
    background:white;
    color:#0ec4e1;
}
main{
    float: right;
    background: #ffffff; 
    height: 100vh;
     width: 100vw;
    }
    .dashhead{
        width:100%;
        height:50px;
        color: #fff;
        align-items: center;
        justify-content: center;
    }
    .dashhead h3{
        margin-top: 50px;
        margin-left: 40px;
    }
    